@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-7xl;
    }
    h2 {
      @apply text-4xl;
    }
    h3 {
        @apply text-2xl;
    }
    p, li, a {
        @apply text-xl;
    }
    body {
        /* @apply bg-darkGrey h-screen font-['Sen'] text-white -z-10; */
        @apply bg-darkGrey md:bg-gradient-to-l md:from-darkGrey md:to-black h-screen font-['Sen'] text-white -z-10;
    }
}

@layer components {
    .shadowSvg {
        filter: drop-shadow(4px 4px 4px #F2C94C);
    }

    .shadowSvg-inverted {
      filter: drop-shadow(-4px -4px 4px #F2C94C); 
    }

    @keyframes jump {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-50px);
        }
        100% {
          transform: translateY(0);
        }
      }
      
      .jump {
        animation: jump 1s;
        animation-delay: 1s; 
      }

      @keyframes rotate3D {
        100% {
            transform: rotate3d(1, 1, 1, 360deg);
        }
      }

      .rotate3D {
        animation: rotate3D 2s;
      }

}